<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">    
<div class='container text-center'> 
	<h3>Password Generator</h3>
	<p>This is an app that randomly generate a password for an individual.
		Provided the given section is chosen, 
		there will be an instance of that
		chosen checkbox in the password
	</p>
<br><br>
<a href="{% url 'generator:home' %}" class="btn btn-success">Home</a>	
</div>
