<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>password generator</title>
	<!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <div class="container text-center">
       	<h1>Password Generator</h1>
       	<form action="{% url 'generator:password' %}" method="">
       	Length
       	<select name="length" id=""> 
       			<option value="6">6</option>
       			<option value="7">7</option>
       			<option value="8">8</option>
       			<option value="9">9</option>
       			<option value="10">10</option>
       			<option value="11">11</option>
       			<option value="12" selected="selected">12</option>
       			<option value="13">13</option>
       			<option value="14">14</option>
       		</select><br><br>
       		<input type="checkbox" name="uppercase" id=""> Uppercase<br><br>
               <input type="checkbox" name="Numbers" id=""> Numbers<br><br>
               <input type="checkbox" name="Special characters" id=""> Special characters<br><br>
       		<input type="submit" value="generate password" class="btn btn-primary">
       		{% csrf_token %}
       	</form>
    	<br>
    	<br>
    	<a href="{% url 'generator:about' %}" class="btn btn-info">About</a>
    </div>
</body>
</html>